body {
}

#browser {
  width:  1200px;
  height: 400px;
  margin: 50px auto auto auto;
  /* background-color: Black;*/
}

#terminal {
  width: 100%;
  background-color: black;
  width: 800px;
  height: 400px;
  font-family: courier, fixed, swiss, monospace, sans-serif;
  color: #67C7DB;
}

.terminal_line {
  background-color: black;
  width: 800px;
}

#info {
  width: 290px;
}

#instructions{
  width: 300px;
  margin-left: 45px;
}

#info, #terminal, #instructions {
  float: left;
}

#top_pane {
  margin:     10px auto auto auto;
  width:      400px;
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: inline;
  margin: 0px 15px 0px 15px;
}

#readline_cursor {
  background-color: #AAAAAA;
}
