body {
}
#browser {
  width:  600px;
  height: 400px;
  margin: auto auto auto auto;
  border: solid;
  /* background-color: Black;*/
}

#terminal {
  width: 100%;
  background-color: black;
  height: 400px;
  font-family: courier, fixed, swiss, monospace, sans-serif;
  color: #67C7DB;
}

.terminal_line {
  background-color: black;
  width: 600px;
  height: 15px;
}
